*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: medium;

  
}
:root{
  --red: #c33;
  --white: #fff;

}
body{
  background-color:#c33;
}
h1{
  font-size: xx-large;  
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  color: var(--white);
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin:0 auto;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px; 
    top: 0;
    width: 50px;
    height: 80px;
    background: var(--white);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

#progress {
  border-bottom: var(--white) solid 5px;
  animation: progress 2s;
}

#start-button-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

#start-button {
  padding: 1rem 2rem;
  border: 1px solid var(--white);
  background-color: var(--red);
  color: var(--white);
}

@keyframes progress
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 100%;
  }
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

#container {
  background-color: #fff;
  margin: 0 auto;
  width: 60%;
  height: 10px;
  position: relative;
}